<html>
  <head>
    <style>
      body {
          background: #999 url(http://raphaeljs.com/images/bgbg.png);
          font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
          color: #000;
          margin: 10px 0 0 0;
          padding: 0;
          text-align: center;
      }
      #holder {
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          -webkit-box-shadow: 0 1px 3px #666;
          background: #ddd;
          margin: 0 auto;
          width: 1200px;
          height: 480px;
      }
    </style>
    <script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="holder"></div>
    <ul>
      <% @sensors.each do |sensor| %>
        <li><a href="#" id="now-<%= sensor.slug %>">Right Now (<%= sensor.to_s %>)</a></li>
      <% end %>
      <li><a href="#" id="hour">Past Hour</a></li>
      <li><a href="#" id="day">Past Day</a></li>
    </ul>
    <script id="source" language="javascript" type="text/javascript">
      <% @sensors.each do |sensor| %>
      $("#now-<%= sensor.slug %>").click(function() {
        var voltages = <%= voltages(sensor).inspect %>;
        var amps = <%= amps(sensor).inspect %>;

        $.plot($("#holder"),
          [
            { data: voltages, label: "Voltage" },
            { data: amps, label: "Amps", yaxis: 2 },
          ], {
            xaxis: { ticks: [] },
            yaxis: { min: -200, max: 200, tickFormatter: function(val, axis) { return val.toFixed(axis.tickDecimals) + " V"} },
            y2axis: { min: -<%= amps_bounds(sensor) %>, max: <%= amps_bounds(sensor) %>, tickFormatter: function(val, axis) { return val.toFixed(axis.tickDecimals) + " A"; } },
            legend: { position: 'sw' }
          });
          return false;
      });
      <% end %>

      $("#hour").click(function() {
        <% @sensors.each do |sensor| %>
          var sensor_<%= sensor.slug %> = <%= interval_points(@past_hour[sensor], :watt_hours).inspect %>;
        <% end %>

        $.plot($("#holder"),
          [
          <% @sensors.each do |sensor| %>
            { data: sensor_<%= sensor.slug %>, label: "<%= sensor.to_s %>" },
          <% end %>
          ], {
            xaxis: { mode: 'time' },
            yaxis: { },
            legend: { position: 'sw' }
          });
          return false;
        });
      $("#day").click(function() {
        <% @sensors.each do |sensor| %>
          var sensor_<%= sensor.slug %> = <%= interval_points(@past_day[sensor], :watt_hours).inspect %>;
        <% end %>

        $.plot($("#holder"),
          [
            <% @sensors.each do |sensor| %>
              { data: sensor_<%= sensor.slug %>, label: "<%= sensor.to_s %>" },
            <% end %>
          ], {
            xaxis: { mode: 'time' },
            yaxis: { },
            legend: { position: 'sw' }
          });
          return false;
        });
        $("#now-<%= @sensors.first.slug %>").click();
      </script>
  </body>
</html>
