<html>
  <head>
    <style>
      body {
          background: #999 url(http://raphaeljs.com/images/bgbg.png);
          font: 100.01% "Fontin Sans", Fontin-Sans, "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, Helvetica, sans-serif;
          color: #000;
          margin: 10px 0 0 0;
          padding: 0;
          text-align: center;
      }
      #holder {
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          -webkit-box-shadow: 0 1px 3px #666;
          background: #ddd;
          margin: 0 auto;
          width: 1200px;
          height: 480px;
      }
    </style>
    <script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="holder"></div>
    <p>
      <a href="#" id="now">now</a>
      <a href="#" id="hour">past hour</a>
    </p>
    <script id="source" language="javascript" type="text/javascript">
      $("#now").click(function() {
        var voltages = <%= voltages.inspect %>;
        var amps = <%= amps.inspect %>;
        var watts = <%= watts.inspect %>;

        $.plot($("#holder"),
          [
            { data: voltages, label: "Voltage" },
            { data: amps, label: "Amps", yaxis: 2 },
            { data: watts, label: "Watts" }
          ], {
xaxis: { mode: 'time', ticks: <%= [1,5,9,13,17].map {|i| voltages[i][0]}.inspect %>,
             tickFormatter: function (val, axis) {
                var d = new Date(val);
                var seconds = d.getSeconds();
                var minutes = d.getMinutes();
                var millis = d.getMilliseconds();
                if (seconds < 10) { seconds = "0" + seconds; }
                if (millis < 10) {
                  millis = "00" + millis;
                } else if (millis < 100) {
                  millis = "0" + millis;
                }
                if (minutes < 10) { minutes = "0" + minutes; }
                return d.getHours() + ":" + minutes + ":" + seconds + "." + millis;
              }
            },
            yaxis: { min: -200, max: 200, tickFormatter: function(val, axis) { return val.toFixed(axis.tickDecimals) + " V"} },
            y2axis: { min: -<%= amps_bounds %>, max: <%= amps_bounds %>, tickFormatter: function(val, axis) { return val.toFixed(axis.tickDecimals) + " A"; } },
            legend: { position: 'sw' }
          });
          return false;
      });

      $("#hour").click(function() {
        var watthours = <%= interval_points(@past_hour).inspect %>;

        $.plot($("#holder"),
          [
            { data: watthours, label: "Watt-Hours" },
          ], {
            xaxis: { mode: 'time' },
            yaxis: { },
            legend: { position: 'sw' }
          });
          return false;
        });
      $("#now").click();
      </script>
  </body>
</html>
